 <!-- Recursion with ng container -->
  <h2> Recursion with ng-container</h2>
  
<ul>
  <ng-container *ngTemplateOutlet="children; context:{ subNode: 'a' }"></ng-container>
</ul>

<ng-template #children let-nodes="subNode">
  <li>
     {{ nodes }}
    <ul *ngIf="treeChild(nodes).length">
      <ng-container *ngFor="let child of treeChild(nodes)">
        <ng-container *ngTemplateOutlet="children; context:{ subNode: child }"></ng-container>
      </ng-container>
    </ul>
  </li>
</ng-template>

<!--  -->
<hr>

<h2>Fully vanilla Semantic</h2>
<ul>
  <li>
    a
    <ul *ngIf="treeChild('a').length">
      <li *ngFor="let child of treeChild('a')">
       - {{ child }}
        <ul *ngIf="treeChild(child).length">
          <li *ngFor="let childOne of treeChild(child)">
           - {{ childOne }}
            <ul *ngIf="treeChild(childOne).length">
              <li *ngFor="let childTwo of treeChild(childOne)">
               - {{ childTwo }}
                <ul *ngIf="treeChild(childTwo).length">
                  <li *ngFor="let childThree of treeChild(childTwo)">
                   - {{ childThree }}
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>

